[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Faker = "14.2.0"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
SQLAlchemy-serializer = "*"
flask-restful = "*"
Flask-Cors = "*"
sqlalchemy = "*"
honcho = "*"
gunicorn = "*"
flask-session ="*"
flask-bcrypt ="*"
alembic = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.8"

