[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Faker = "14.2.0"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
sqlalchemy = "*"
honcho = "*"
flask-bcrypt ="*"

[dev-packages]

[requires]
python_version = "3.8"

